* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
h1{
    color: #2EA099;
    font-size: 35px;
    padding: 20px 0px;
}
h3{
    color: #C5D668;
    font-size: 23px;
    padding-bottom: 20px;
}
.content{
    color: #C5C8CE;
    font-size: 16px;
    height: 55vh;
}
.con1{
    background-color: #29a09e;
    color: white;
    width: 50%;
    padding-left: 30px;
    padding-top: 25px;
    line-height: 45px;
    font-size: 23px;
    
}
.con2{
    background-color: #48BFBD;
    color: white;
    width: 50%;
    padding-left: 30px;
    padding-top: 25px;
    line-height: 24px;
    font-size: 20px;
    
}
footer{
    display: flex;
    height: 55vh;
   
    
}
main{
    padding-left: 30px;
    height: 45vh;
}

#btn1{
    background-color: #C5D668;
    border: none;
    border-radius: 5px;
    width: 305px;
    height: 35px;
}
.con3{
    padding-bottom: 10px;
}